body {
    background: rgb(180, 180, 180);
  }
  .container-fluid{
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin: 5px;
  }
  .task {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
  }
  .list-group-item{
    border-radius: 10px !important;
    margin: auto;
    height: 40px;
  }
  .header {
    margin: 0.5em;
    font-size: 2em;
    text-align: center;
  }
  .create-task input[type=text] {
    margin: 2.5em 2em;
    width: 80%;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 0.7em;
  }
  .card-header{
    margin-bottom: 10px !important;
    border-radius: 10px 10px 0px 0px!important;
  }

  .todo{
    margin: 5px 10px;
    /* padding: ; */
  }
  .shift{
    display: flex;
    padding: 0px 5px;
    width: -webkit-fill-available;
  }
  .inputBox{
    bottom: 0;
    width: 100%;
    padding: 0px 10px;
  }
  .card{
    height: 80vh;
    border-radius: 10px !important;
  }
  .list-group-item{
    padding: 0px 5px;
  }

  .font{
    font-weight: 500;
    font-size: medium;
  }
  .addTask{
    float: left;
  }